<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <title>TRITON OWNERS CLUB</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="css/images/favicon.ico" />
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script src="js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.flexslider.js" type="text/javascript"></script>
    <script src="js/jquery.jcarousel.js" type="text/javascript"></script>
    <script src="js/functions.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

    <div class="shell">
        <div id="wrapper-middle">
            <div id="header">
                <div style="width: 120px; float: left;">
                    <img src="css/images/triton_logo.png" style=" width: 100px;" />
                </div>
                <h1 id="logo" style="float: left;">
                    <a>TRITON OWNERS</br>WOODWORKING CLUB</a>
                </h1>
                <div id="navigation">
                    <ul>
                        <li><a href="" title="login">REGISTER</a></li>
                        <li class="lastr"><a href="" title="login">MEMBERS LOGIN HERE</a></li>
                    </ul>
                </div>
            </div>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="css/images/triton_slider_image_1.jpg" />
                    </li>
                    <li>
                        <img src="css/images/triton_slider_image_2.jpg" />
                    </li>
                    <li>
                        <img src="css/images/triton_slider_image_3.jpg"/>
                    </li>
                    <li>
                        <img src="css/images/triton_slider_image_4.jpg" />
                    </li>
                </ul>
            </div>
            @RenderBody()
        </div>
        <div id="footer">
            <p class="copyright">Copyright 2017 | Design by Pieter Alberts</p>
        </div>
    </div>
</body>
</html>