<div id="map" style="width: 100%; height: 500px"></div>

<script type="text/javascript">
    var map;
    var listOfMarkers = [];
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(-27.951549, 24.084263),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 5
        }
        map = new google.maps.Map(mapCanvas, mapOptions);
        infowindow = new google.maps.InfoWindow();
        getMarkerData(map);
    }
    function showMap() {
        $("#map").css('visibility', 'visible');
    }

    function removeAllMarkersFromMap() {
        for (var i = 0; i < listOfMarkers.length; i++) {
            listOfMarkers[i].setMap(null);
        }
    }

    function hideMap() {
        $('#map').css('visibility', 'hidden');
    }

    function AddMapMarkers(markerDetails, lat, lng, map, markerColors) {
        var marker, i;
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(lng, lat),
            map: map,
            icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + markerColors
        });
        listOfMarkers.push(marker);
        google.maps.event.addListener(map, 'click', function () {
            infowindow.close();
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(markerDetails);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYf2xlYXpSP_hTT2aDUq5KGPwapNKyrRk&callback=myMap"></script>