@{
    ViewBag.Title = "Index";
    Layout = "~/MasterTemplate/AuthentucatedMasterTemplate.cshtml";
}
<script type="text/javascript">

    function updateMapWithMemberDetails(memberId) {
        if (memberId != null) {
            showMap();
            removeAllMarkersFromMap();
            getMemberData(memberId);
        }
    }
    function getMarkerData() {
        hideMap();
    };

    function getMemberData(memberId) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("GetMemberData", "members")',
            data: { "memberId": memberId },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != null) {
                    var json = JSON.parse(data.body);
                    showMemberDetails(GenerateMemberDetailsTable(json.first_name + " " + json.last_name, json.address, json.started_woodworking_on_year, json.email, json.cell));
                    document.getElementById("memberPreview").src = "data:image/png;base64," + json.profile_image_base_64;
                    AddMapMarkers(json.first_name + " " + json.last_name, json.lat, json.lng, map, "669900");
                    var pt = new google.maps.LatLng(json.lng, json.lat);
                    map.setCenter(pt);
                    map.setZoom(12);
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    function GenerateMemberDetailsTable(nameSurname, address, startedWoodworkingAtYear, email, cell) {
        return '<style>table, th, td {border: 1px solid black; padding: 5px;}</style><table width="100%"> <tr> <th style="background-color:#669900; color:black; font-weight: bold;text-align:center;" colspan="3">' +
            'Member Details</th> </tr> <tr> <td style=" width:200px; color:black;font-weight: bold;">Name and Surname</td> <td>' + nameSurname + '</td> <td style="width:120px; padding-left:15px;" rowspan="5">' +
            '<center><img border="1" id="memberPreview" src="" style=" color:black;width:100px;padding:2px; "></center></td> </tr> <tr> <td style=" color:black; font-weight: bold;">Cell</td>' +
            ' <td>' + cell + '</td> </tr> <tr> <td style="  color:black;font-weight: bold;">Email Address</td> <td>' + email + '</td> </tr> <tr>' +
            ' <td style="  color:black;font-weight: bold;">Started doing<br>woodworking</td> <td>' + startedWoodworkingAtYear + '</td> </tr> <tr> <td style=" color:black; font-weight: bold;">Address</td> ' +
            '<td>' + address + '</td> </tr> </table>';
    }

    function showMemberDetails(memberHtmlData) {
        $('#MemberDetailsDiv').empty();
        $('#MemberDetailsDiv').html(memberHtmlData);
    }
</script>
<h3>Club Members</h3>
Please select a member from the below list to view their details.<br><br>
<select onchange="updateMapWithMemberDetails($(this).val())">
    @foreach (var x in ViewBag.Members)
    {
        <option value="@x.id">@(x.first_name + " " + x.last_name)</option>
    }
</select>
<br><br><div id="MemberDetailsDiv"></div>
<br>
@Html.Partial("~/Views/Partials/GoogleMap.cshtml") 